@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

* {
  box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    width: 100%;
    height: 100%;
}

.slider-wrap {
    height: 100%;
    width: 100%;
  }

  .slider-wrap .slider {
    position: absolute;
    width: 100%;
    left: 25em;
    top: 10em;
  }
  
  .slider-item {
    width: 630px;
    padding: 20px 0 25px 30px;
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    opacity: 0;
    z-index: 0;
    box-shadow: 0 4px 9px #f1f1f4;
    position: absolute;
    left: 0;
    top: 0;
  }
  .slider-item .animation-card_image {
    max-width: 60px;
    max-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 4px 9px rgba(241, 241, 244, 0.72);
    background-color: #ffffff;
  }
  .slider-item .animation-card_image img {
    width: 100%;
    height: 100%;
    margin-top: 55px;
    display: flex;
    border-radius: 50%;
    object-fit: cover;
  }
  .slider-item .animation-card_content {
    width: 100%;
    max-width: 450px;
    margin-left: 26px;
    font-family: "Open Sans", sans-serif;
  }
  .slider-item .animation-card_content .animation-card_content_title {
    color: #4a4545;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.18px;
    line-height: 24px;
    margin: 0;
  }
  .slider-item .animation-card_content .animation-card_content_description {
    color: #696d74;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 24px;
    margin: 10px 0 0 0;
  }
  .slider-item .animation-card_content .animation-card_content_city {
    font-size: 11px;
    margin: 10px 0 0 0;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #696d74;
  }

.title-section {
    margin-top: 550px;
}

.quote-icon-left, .quote-icon-right {
    font-size: 26px;
}